@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato/Lato-Bold.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Lato/Lato-Medium.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Lato/Lato-Semibold.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/Lato-Regular.woff2");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Lato/Lato-Italic.woff2");
}
@font-face {
  font-family: "YAM";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato/Lato-Light.woff2") format("woff2");
  unicode-range: U+0221E; /* &infin; */
  size-adjust: 120%;
}
:root {
  --background: #ffffff url("../images/textures/ricepaper_v3.png");
  --metronome-button-disabled: #c0c0c0;
  --metronome-button-enabled: #222222;
  --toolbar-button-disabled: #ffffff76;
  --toolbar-button-enabled: #222222;
  --beat-off: black;
  --beat-on: red;
  --track-colour-muted: #a0a0a0;
  --track-colour-deleting: #a0a0a0;
  --playlist-colour-deleting: #a0a0a0;
  --time-signature-none: #bfbfbf;
  --loop-enabled: #c63800;
  --ding-enabled: #c63800;
  --text: #222222;
  --text-locked: #dc322f;
  --icon: #222222;
  --icon-disabled: #999999;
  --icon-locked: #dc322f;
}

[data-theme=dark] {
  --background: #222222;
  --metronome-button-disabled: #50638F;
  --metronome-button-enabled: #0099FF;
  --toolbar-button-disabled: #ffffff76;
  --toolbar-button-enabled: #b8c3c7;
  --beat-off: rgba(184, 195, 199, 0.45);
  --beat-on: rgba(255, 0, 0, 0.9);
  --track-colour-muted: #a0a0a0;
  --track-colour-deleting: #a0a0a0;
  --playlist-colour-deleting: #a0a0a0;
  --loop-enabled: #c63800;
  --ding-enabled: #c63800;
  --text: #b8c3c7;
  --text-locked: #dc322f;
  --icon: #b8c3c7;
  --icon-disabled: #ffffff76;
  --icon-locked: #dc322f;
}

main {
  box-sizing: border-box;
  background: inherit;
  width: fit-content;
  height: 693px;
  min-width: 0;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  overflow-y: hidden;
  overflow-x: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 660px;
  grid-template-areas: "metronome playlist editor";
  column-gap: 8px;
  align-items: stretch;
}

div.panel {
  width: 353px;
  border: 1px solid red;
  border-radius: 16px;
}

div.metronome {
  grid-area: metronome;
}

div.playlists {
  grid-area: playlist;
  display: block;
  overflow-y: auto;
  min-height: 0;
}

div.editor {
  grid-area: editor;
  display: block;
  overflow-y: auto;
  min-height: 0;
}
div.editor yam-editor {
  padding: 0;
}

@media (max-width: 768px) and (orientation: portrait) {
  main {
    width: 100%;
    padding: 0px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0px;
  }
  div.panel {
    width: 100dvw;
    border: none;
    border-radius: 0px;
  }
  div.metronome {
    grid-column: 1;
    grid-row: 1;
  }
  div.metronome.hidden {
    display: none;
  }
  div.playlists {
    grid-column: 1;
    grid-row: 1;
  }
  div.playlists.hidden {
    display: none;
  }
  div.editor {
    grid-column: 1;
    grid-row: 1;
  }
  div.editor.hidden {
    display: none;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  main {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0px;
  }
  div.panel {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    border-radius: 0px;
  }
  div.metronome {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: start;
    width: fit-content;
    height: 100%;
  }
  div.metronome.hidden {
    display: none;
  }
  div.playlists {
    grid-column: 1;
    grid-row: 1;
  }
  div.playlists.hidden {
    display: none;
  }
  div.editor {
    grid-column: 1;
    grid-row: 1;
  }
  div.editor.hidden {
    display: none;
  }
}
html.settings main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 64px;
  margin-right: 64px;
  color: var(--text);
}
html.settings main h1 {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 1.5em;
}
html.settings main h1 img {
  width: 64px;
}
html.settings main h2 {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 8px;
}
html.settings main img {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
html.settings main div.settings {
  min-width: 200px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 12px;
  row-gap: 32px;
}
html.settings main div.settings label {
  width: fit-content;
  align-self: center;
}
html.settings main div.settings select {
  width: fit-content;
  min-width: 128px;
  border: 2px solid #ddd;
  background: #eee;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  transition: 0.4s;
}
html.settings main div.settings select, html.settings main div.settings select::picker(select) {
  appearance: base-select;
}
html.settings main div.settings select option {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #ddd;
  background: #eee;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  transition: 0.4s;
}
html.settings main div.settings input[type=range] {
  width: 200px;
  margin: 0;
}
html.settings main div.volume {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
html.settings main div.volume input[type=text] {
  background: none;
  border: none;
  outline: none;
  width: 3em;
  color: var(--text);
}

@media (max-width: 768px) and (orientation: portrait) {
  html.settings maint {
    height: calc(100% - 48px);
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 24px;
  }
  html.settings maint h1 {
    font-size: 1.2em;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  html.settings main {
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 24px;
    margin-right: 24px;
    overflow-y: scroll;
  }
}
main.about {
  box-sizing: border-box;
  height: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 64px;
  margin-right: 64px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--text);
}
main.about h1 {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 1.5em;
}
main.about h1 img {
  width: 64px;
}
main.about h2 {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 8px;
}
main.about span.icon {
  box-sizing: border-box;
  width: 44px;
  background-color: var(--icon);
  aspect-ratio: 1;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}
main.about span.icon-metronome {
  mask-image: url("/images/metronome.svg");
  mask-size: 32px;
}
main.about span.icon-playlist {
  mask-image: url("/images/playlist.svg");
  mask-size: 32px;
}
main.about span.icon-edit {
  mask-image: url("/images/edit.svg");
  mask-size: 32px;
}
main.about span.icon-import {
  mask-image: url("/images/import.svg");
  mask-size: 32px;
}
main.about span.icon-export {
  mask-image: url("/images/export.svg");
  mask-size: 32px;
}
main.about span.icon-reset {
  mask-image: url("/images/reset.svg");
  mask-size: 32px;
}
main.about span.icon-fullscreen {
  mask-image: url("/images/fullscreen.svg");
  mask-size: 32px;
}
main.about span.icon-wakelock {
  mask-image: url("/images/wakelock.svg");
  mask-size: 32px;
}
main.about span.icon-github {
  width: 44px;
  mask-image: url("/images/github-mark.svg");
  mask-size: 36px;
}
main.about img {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
main.about a {
  font-size: 0.9em;
  text-decoration: none;
  color: steelblue;
}
main.about a.github {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 60px 1fr;
  align-items: center;
}
main.about p {
  max-width: 60%;
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 0.9em;
}
main.about p.license {
  margin-top: 4px;
  font-size: 0.8em;
}
main.about ol {
  margin-top: 0px;
}
main.about div.guide {
  display: block;
}
main.about ul.menu {
  list-style-type: none;
}
main.about ul.menu img {
  height: 32px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
main.about ul.menu li {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

@media (max-width: 768px) and (orientation: portrait) {
  main.about {
    height: calc(100% - 48px);
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 24px;
  }
  main.about h1 {
    font-size: 1.2em;
  }
  main.about ul {
    padding-left: 12px;
    padding-right: 24px;
  }
  main.about p {
    max-width: 100%;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  main.about {
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 24px;
    margin-right: 24px;
    overflow-y: scroll;
  }
  main.about div.guide {
    display: flex;
    flow-direction: column;
  }
}
main.unsupported {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--text);
}
main.unsupported h1 {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 1.5em;
}
main.unsupported h1 img {
  width: 64px;
}
main.unsupported a {
  font-size: 0.9em;
  text-decoration: none;
  color: steelblue;
}
main.unsupported div#unsupported {
  margin-top: 128px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid grey;
  border-radius: 4px;
}
main.unsupported div#unsupported div {
  margin-bottom: 32px;
}
main.unsupported div#unsupported ul {
  margin-top: 8px;
  list-style: inside;
}

toolbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-right: 8px;
}
toolbar div.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
toolbar div.menu div.left-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0px;
}
toolbar div.menu div.right-menu {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "settings" "fullscreen" "wakelock" "theme" "about";
}
toolbar img {
  width: 36px;
}
toolbar button {
  box-sizing: border-box;
  width: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  border: none;
  outline: none;
  display: inline-block;
  background-color: var(--toolbar-button-enabled);
  aspect-ratio: 1;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  transition: opacity 0.125s ease-in-out, transform 0.2s ease-in-out;
}
toolbar button:disabled {
  display: none;
  background-color: var(--toolbar-button-disabled);
}
toolbar #reset {
  mask-image: url("/images/reset.svg");
  mask-size: 30px;
}
toolbar #metronome {
  mask-image: url("/images/metronome.svg");
  mask-size: 30px;
}
toolbar #playlist {
  mask-image: url("/images/playlist.svg");
  mask-size: 30px;
}
toolbar #edit {
  mask-image: url("/images/edit.svg");
  mask-size: 30px;
}
toolbar #load {
  mask-image: url("/images/import.svg");
  mask-size: 30px;
}
toolbar #save {
  mask-image: url("/images/export.svg");
  mask-size: 30px;
}
toolbar #settings {
  grid-area: settings;
  mask-image: url("/images/settings.svg");
  mask-size: 30px;
}
toolbar #fullscreen {
  grid-area: fullscreen;
  mask-image: url("/images/fullscreen.svg");
  mask-size: 30px;
}
toolbar #wakelock {
  grid-area: wakelock;
  mask-image: url("/images/wakelock.svg");
  mask-size: 30px;
}
toolbar #theme {
  grid-area: theme;
  mask-image: url("/images/theme.svg");
  mask-size: 30px;
}
toolbar #about {
  grid-area: about;
  mask-image: url("/images/about.svg");
  mask-size: 30px;
}
toolbar #about.hidden {
  display: none;
}
toolbar #oops {
  grid-area: about;
  mask-image: none;
  background-color: transparent;
  background-image: url("/images/warning.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
toolbar #oops.hidden {
  display: none;
}
toolbar a {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
toolbar #reset:hover {
  filter: invert(10%) sepia(99%) saturate(5774%) hue-rotate(14deg) brightness(90%) contrast(121%);
}
toolbar #settings {
  display: none;
}
toolbar #bug {
  display: none;
}
toolbar #wakelock.active img {
  filter: invert(10%) sepia(99%) saturate(5774%) hue-rotate(14deg) brightness(90%) contrast(121%);
}

toolbar.metronome #metronome {
  display: none;
}
toolbar.metronome #playlist {
  display: none;
}
toolbar.metronome #edit {
  display: none;
}

toolbar.playlist #metronome {
  display: none;
}
toolbar.playlist #playlist {
  display: none;
}
toolbar.playlist #edit {
  display: none;
}

@media (max-width: 768px) and (orientation: portrait) {
  toolbar {
    width: calc(100vw - 4px);
    padding-left: 4px;
    padding-right: 4px;
  }
  toolbar div.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 8px;
  }
  toolbar div.menu div.left-menu {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 4px;
  }
  toolbar div.menu div.right-menu {
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "settings fullscreen wakelock theme about";
    column-gap: 4px;
  }
  toolbar.metronome #playlist {
    display: block;
  }
  toolbar.metronome #load {
    display: none;
  }
  toolbar.metronome #save {
    display: none;
  }
  toolbar.metronome.editable #edit {
    display: block;
  }
  toolbar.playlist #reset {
    display: none;
  }
  toolbar.playlist #metronome {
    display: block;
  }
  toolbar.playlist #edit {
    display: none;
  }
  toolbar.playlist #fullscreen {
    display: none;
  }
  toolbar.playlist #wakelock {
    display: none;
  }
  toolbar.editor #reset {
    display: none;
  }
  toolbar.editor #metronome {
    display: block;
  }
  toolbar.editor #playlist {
    display: block;
  }
  toolbar.editor #edit {
    display: none;
  }
  toolbar.editor #load {
    display: none;
  }
  toolbar.editor #save {
    display: none;
  }
  toolbar.editor #fullscreen {
    display: none;
  }
  toolbar.editor #wakelock {
    display: none;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  toolbar {
    grid-column: 2;
    grid-row: 1;
    height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 2;
  }
  toolbar div.menu {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 8px;
  }
  toolbar div.menu div.left-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  toolbar div.menu div.right-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  toolbar.metronome #playlist {
    display: block;
  }
  toolbar.metronome #load {
    display: none;
  }
  toolbar.metronome #save {
    display: none;
  }
  toolbar.metronome.editable #edit {
    display: block;
  }
  toolbar.playlist #reset {
    display: none;
  }
  toolbar.playlist #metronome {
    display: block;
  }
  toolbar.playlist #fullscreen {
    display: none;
  }
  toolbar.playlist #wakelock {
    display: none;
  }
  toolbar.editor #reset {
    display: none;
  }
  toolbar.editor #metronome {
    display: block;
  }
  toolbar.editor #playlist {
    display: block;
  }
  toolbar.editor #edit {
    display: none;
  }
  toolbar.editor #load {
    display: none;
  }
  toolbar.editor #save {
    display: none;
  }
  toolbar.editor #fullscreen {
    display: none;
  }
  toolbar.editor #wakelock {
    display: none;
  }
}
div.metronome {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-areas: "pads pads pads" "info info info" "metrics loop ding" "bpm bpm bpm" "metronome metronome metronome";
  justify-items: center;
  align-items: start;
}
div.metronome yam-pads {
  grid-area: pads;
  width: 300px;
  height: 80px;
  outline: none;
  overflow: hidden;
}
div.metronome yam-info {
  grid-area: info;
  justify-self: stretch;
  margin-left: 12px;
  margin-right: 12px;
}
div.metronome div.metrics {
  box-sizing: border-box;
  grid-area: metrics;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 4px;
  height: 48px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}
div.metronome div.metrics yam-time-signature {
  box-sizing: border-box;
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
}
div.metronome div.metrics yam-mm {
  box-sizing: border-box;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}
div.metronome yam-loop {
  box-sizing: border-box;
  grid-area: loop;
  justify-self: center;
  height: 100%;
  outline: none;
}
div.metronome yam-ding {
  box-sizing: border-box;
  grid-area: ding;
  justify-self: center;
  height: 100%;
  outline: none;
}
div.metronome div.bpm {
  display: grid;
  grid-area: bpm;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "knob" "wheel";
}
div.metronome div.bpm yam-knob {
  grid-area: knob;
  margin-top: 24px;
  margin-bottom: 24px;
  outline: none;
}
div.metronome div.bpm yam-wheel {
  display: none;
  grid-area: wheel;
  width: 224px;
  outline: none;
}
div.metronome yam-metronome {
  grid-area: metronome;
  align-self: center;
  outline: none;
}
div.metronome yam-time-signature {
  height: 100%;
  outline: none;
}
div.metronome yam-mm {
  height: 100%;
  outline: none;
}
div.metronome yam-loop {
  height: 100%;
  outline: none;
}

@media (max-width: 768px) and (orientation: portrait) {
  div.metronome yam-pads {
    width: calc(100vw - 32px);
  }
  div.metronome div.metrics {
    height: 64px;
  }
  div.metronome yam-mm::part(BPM) {
    font-size: 24px;
  }
  div.metronome yam-wheel {
    display: none;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  div.metronome {
    box-sizing: border-box;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-template-columns: 50% auto 1fr auto;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "pads pads pads pads" "info info info info" "metrics other other other" "bpm metronome metronome metronome";
    justify-items: center;
    align-items: start;
    column-gap: 2px;
  }
  div.metronome yam-pads {
    width: 100%;
  }
  div.metronome yam-info {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    align-self: center;
  }
  div.metronome div.metrics {
    height: 64px;
  }
  div.metronome div.metrics yam-time-signature {
    justify-self: end;
    margin-right: 16px;
  }
  div.metronome div.metrics yam-mm {
    justify-self: start;
    margin-left: 16px;
  }
  div.metronome div.metrics yam-mm::part(BPM) {
    font-size: 24px;
  }
  div.metronome yam-loop {
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
  }
  div.metronome yam-ding {
    grid-column: 4;
    grid-row: 3;
  }
  div.metronome div.bpm {
    grid-column: 1;
    grid-row: 4;
    justify-items: center;
    align-self: center;
    width: 100%;
  }
  div.metronome div.bpm yam-knob {
    display: none;
  }
  div.metronome div.bpm yam-wheel {
    display: block;
  }
  div.metronome yam-metronome {
    grid-column: 2/5;
    grid-row: 4;
    justify-self: center;
    align-self: center;
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
  }
}
div.playlists yam-playlists {
  display: block;
  height: 100%;
}
div.playlists yam-playlist-tracks {
  display: none;
}

@media (max-width: 1024px) and (orientation: landscape) {
  div.playlists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  div.playlists yam-playlists {
    grid-column: 1;
    grid-row: 1;
    overflow-y: scroll;
  }
  div.playlists yam-playlist-tracks {
    grid-column: 2;
    grid-row: 1;
    display: block;
    overflow-y: scroll;
  }
}
html {
  height: 100%;
  background: var(--background);
  font-family: "Lato";
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
}
body div.content {
  min-width: max-content;
  display: flex;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: "main toolbar";
}

main {
  grid-area: main;
  justify-self: center;
}

toolbar {
  grid-area: toolbar;
}

dialog.import {
  margin-top: 128px;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 8px;
}
dialog.import div {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  display: grid;
  grid-template-columns: 1f 1fr;
  grid-template-rows: auto auto;
  column-gap: 16px;
  row-gap: 12px;
  justify-items: center;
  align-items: center;
}
dialog.import div p.message {
  grid-column: 1/3;
  grid-row: 1;
  font-size: 0.9em;
  text-align: center;
}
dialog.import div button {
  width: 80px;
  height: 32px;
}
dialog.import div button[value=cancel] {
  grid-column: 1;
  grid-row: 2;
  color: #a00000;
}
dialog.import div button[value=ok] {
  grid-column: 2;
  grid-row: 2;
}

dialog.error p.message {
  color: #ff0000;
}

@media (max-width: 768px) and (orientation: portrait) {
  body div.content {
    height: 100dvh;
    margin-top: env(safe-area-inset-top);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  body.fullscreen div.content {
    height: calc(100dvh - env(safe-area-inset-top));
  }
  body.fullscreen toolbar {
    margin-bottom: 8px;
  }
  main {
    grid-column: 1;
    grid-row: 1;
    width: 100dvw;
    height: calc(100% - env(safe-area-inset-top));
    justify-self: center;
    align-self: stretch;
  }
  toolbar {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  body {
    width: 100dvw;
  }
  body div.content {
    height: 100dvh;
    width: calc(100dvw - env(safe-area-inset-left));
    min-width: 0;
    margin-left: env(safe-area-inset-left);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
  }
  main {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
  }
  toolbar {
    grid-column: 2;
    grid-row: 1;
  }
}
