toolbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-right: 8px;

  div.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    div.left-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 0px;
    }

    div.right-menu {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
        "settings"
        "fullscreen"
        "wakelock"
        "theme"
        "about";
    }
  }

  img {
    width: 36px;
  }

  button {
    box-sizing: border-box;

    width: 40px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;

    border: none;
    outline: none;

    display: inline-block;
    background-color: var(--toolbar-button-enabled);

    aspect-ratio: 1;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;

    transition: opacity 0.125s ease-in-out, transform 0.2s ease-in-out;
  }

  button:disabled {
     display: none;
     background-color: var(--toolbar-button-disabled);
  }

  #reset {
      mask-image: url('/images/reset.svg');
      mask-size: 30px;
  }

  #metronome {
      mask-image: url('/images/metronome.svg');
      mask-size: 30px;
  }

  #playlist {
      mask-image: url('/images/playlist.svg');
      mask-size: 30px;
  }

  #edit {
      mask-image: url('/images/edit.svg');
      mask-size: 30px;
  }

  #load {
      mask-image: url('/images/import.svg');
      mask-size: 30px;
  }

  #save {
      mask-image: url('/images/export.svg');
      mask-size: 30px;
  }

  #settings {
      grid-area: settings;
      mask-image: url('/images/settings.svg');
      mask-size: 30px;
  }

  #fullscreen {
      grid-area: fullscreen;
      mask-image: url('/images/fullscreen.svg');
      mask-size: 30px;
  }

  #wakelock {
      grid-area: wakelock;
      mask-image: url('/images/wakelock.svg');
      mask-size: 30px;
  }

  #theme {
      grid-area: theme;
      mask-image: url('/images/theme.svg');
      mask-size: 30px;
  }
  
  #about {
      grid-area: about;
      mask-image: url('/images/about.svg');
      mask-size: 30px;
  }

  #about.hidden {
      display: none;
  }

  #oops {
      grid-area: about;

      mask-image: none;

      background-color: transparent;
      background-image: url('/images/warning.svg');
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
  }

  #oops.hidden {
      display: none;
  }
  
  a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
  }

  #reset:hover {
    background-color: var(--toolbar-button-hover);
  }

  #settings {
    display: none;
  }

  #bug {
    display: none;
  }

  #wakelock.active {
    background-color: var(--toolbar-wakelock-active);
  }
}

toolbar.metronome {
  #metronome {
    display: none;
  }

  #playlist {
    display: none;
  }

  #edit {
    display: none;
  }
}

toolbar.playlist {
  #metronome {
    display: none;
  }

  #playlist {
    display: none;
  }

  #edit {
    display: none;
  }
}

// toolbar img#bug {
//   filter: invert(78%) sepia(0%) saturate(34%) hue-rotate(219deg) brightness(98%) contrast(95%);
// }

// toolbar img#bug.enabled {
//   filter: none;
// }

@media (max-width: 768px) and (orientation:portrait) {
  toolbar {
    width: calc(100vw - 4px);
    padding-left: 4px;
    padding-right: 4px;

    div.menu {
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 8px;

      div.left-menu {
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 4px;
      }

      div.right-menu {
        width: fit-content;
        
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto;
        grid-template-areas: "settings fullscreen wakelock theme about";
        column-gap: 4px;
      }

    }
  }

  toolbar.metronome {
    #playlist {
      display: block;
    }

    #load {
      display: none;
    }

    #save {
      display: none;
    }
  }

  toolbar.metronome.editable {
    #edit {
      display: block;
    }
  }

  toolbar.playlist {
    #reset {
      display: none;
    }

    #metronome {
      display: block;
    }

    #edit {
      display: none;
    }

    #fullscreen {
      display: none;
    }

    #wakelock {
      display: none;
    }
  }

  toolbar.editor {
    #reset {
      display: none;
    }

    #metronome {
      display: block;
    }

    #playlist {
      display: block;
    }

    #edit {
      display: none;
    }


    #load {
      display: none;
    }

    #save {
      display: none;
    }

    #fullscreen {
      display: none;
    }

    #wakelock {
      display: none;
    }
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  toolbar {
    grid-column: 2;
    grid-row: 1;

    height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 2;

    div.menu {
      padding-top: 4px;
      padding-bottom: 4px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 8px;

      div.left-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      div.right-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }

  toolbar.metronome {
    #playlist {
      display: block;
    }

    #load {
      display: none;
    }

    #save {
      display: none;
    }
  }

  toolbar.metronome.editable {
    #edit {
      display: block;
    }
  }

  toolbar.playlist {
    #reset {
      display: none;
    }

    #metronome {
      display: block;
    }

    #fullscreen {
      display: none;
    }

    #wakelock {
      display: none;
    }
  }

  toolbar.editor {
    #reset {
      display: none;
    }

    #metronome {
      display: block;
    }

    #playlist {
      display: block;
    }

    #edit {
      display: none;
    }

    #load {
      display: none;
    }

    #save {
      display: none;
    }

    #fullscreen {
      display: none;
    }

    #wakelock {
      display: none;
    }
  }
}
