:host(.component-add-tracks) {
  div.tracklist {
    box-sizing: border-box;
    padding-bottom: 24px;

    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    ul {
      list-style-type: none;
      margin-left: 0px;
      padding-left: 4px;
      padding-right: 12px;

      li + li {
        margin-top: 2px;
      }

      li.hidden {
        display: none;
      }
    }

    hr {
      flex-shrink: 0;

      margin-left: 32px;    
      margin-right: 24px;    
    }

    hr.hide {
       display: none;
    }

    button {
      align-self: start;
      flex-shrink: 0;

      background: none;
      border: none;
      outline: none;
      overflow: hidden;

      color: #666666;
      font-size: 0.9em;
      font-style: italic;

      margin-left: 32px;
      margin-right: 24px;    
    }
  }
}

:host(.all-tracks) {
  #random-track {
    display: none;
  }
}
