div.beat {
  aspect-ratio: 1 / 1;
  width: 100%;

  background-color: black;
}

:host(.block) div.beat{
  border-radius: 8px;
  clip-path: inset(0 round 8px); 
}

:host(.diamond) div.beat{
  border-radius: 0px;
  clip-path: polygon(
    50%  25%,   // top
    75%  50%,   // right
    50%  75%,   // bottom
    25%  50%    // left
  );
}

:host(.small-block) div.beat{
  border-radius: 4px;
  clip-path: inset(0 round 6px); 
}

div.beat.on {
  background-color: red;
}

