div.beat {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div.shape {
    box-sizing: border-box;

    aspect-ratio: 1 / 1;
    background-color: var(--beat-off);

    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

:host(.block) div.beat{
  div.shape {
    border-radius: 16%;
    clip-path: inset(0 round 16%); 
  }
}

:host(.diamond) div.beat{
  div.shape {
    border-radius: 0px;
    clip-path: polygon(
      50%  25%,   // top
      75%  50%,   // right
      50%  75%,   // bottom
      25%  50%    // left
    );

    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

:host(.small-block) div.beat{
  div.shape {
    border-radius: 12.5%;
    clip-path: inset(0 round 12.5); 

    margin-left: 20%;
    margin-right: 20%;
  }
}

div.beat.on {
  div.shape {
    background-color: var(--beat-on);  
  }
}
