:host(.component-figura) {
  .figura {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    overflow:  visible;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    touch-action: none;

    input[type="range"] {
      display: none;
    }

    svg {
      grid-column: 1;
      grid-row: 1;

      background: transparent;
      width:  100%;

      overflow: visible;
      z-index: 2
    }

    div.overlay {
      grid-column: 1;
      grid-row: 1;

      width:  100%;
      height: 100%;
      z-index: 3;

      touch-action: none;
    }

    div.overlay.dragging {
      cursor: grab;
    }
  }
}