:host(.component-knob) {
  .knob {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

    overflow:  visible;
    padding: 0px 0px 0px 0px;
    margin-top: -20px;
    margin-bottom: -20px;

    touch-action: none;

    input[type="range"] {
      display: none;
    }

    div.background {
      box-sizing: border-box;
      grid-column: 1;
      grid-row: 1;

      width:  98%;
      height: 98%;

      border-radius: 50%;
      overflow: hidden;

      background: radial-gradient(circle at 50% 50%, #000000, rgba(192,192,192,0));
      filter: contrast(200%) brightness(500%);
      opacity: var(--knob-background-opacity);

      svg {
         mix-blend-mode: multiply;
      }
    }

    svg {
      grid-column: 1;
      grid-row: 1;
      box-sizing: border-box;

      background: transparent;
      width:  200px;
      height: 200px;
      margin: 20px;

      overflow: visible;
      z-index: 2;

      .ticks {
         stroke:  var(--knob-ticks);
         fill:  var(--knob-ticks);
      }

      .labels {
         fill:  var(--knob-labels);
      }
    }

    div.overlay {
      grid-column: 1;
      grid-row: 1;
      width:  100%;
      height: 100%;
      border-radius: 50%;
      z-index: 3;

      touch-action: none;
    }

    div.overlay.dragging {
      cursor: grab;
    }
  }
}