:host(.component-loop) {
  div.loop {
    box-sizing: border-box;
    height: 100%;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

    label {
      box-sizing: border-box;
      grid-column: 1;
      grid-row: 1;

      width: 64px;
      height: 40px;
      background: url('/images/loop.svg') no-repeat center center / contain;
      filter: invert(25%) sepia(25%) saturate(8%) hue-rotate(3deg) brightness(99%) contrast(99%);
    }

    input[type="checkbox"] {
      box-sizing: border-box;
      grid-column: 1;
      grid-row: 1;

      opacity: 0;
      width: 0;
      height: 0;
    }

    input[type="checkbox"][data-loops="1"]:checked + label {
       background-image: url('/images/loop-1.svg');
    }

    input[type="checkbox"][data-loops="2"]:checked + label {
       background-image: url('/images/loop-2x.svg');
    }

    input[type="checkbox"][data-loops="3"]:checked + label {
       background-image: url('/images/loop-3.svg');
    }

    input[type="checkbox"][data-loops="4"]:checked + label {
       background-image: url('/images/loop-4.svg');
    }

    input[type="checkbox"][data-loops="5"]:checked + label {
       background-image: url('/images/loop-5.svg');
    }

    input[type="checkbox"]:checked + label {
      filter: invert(22%) sepia(45%) saturate(3580%) hue-rotate(357deg) brightness(101%) contrast(95%);
    }

    input[type="checkbox"]:disabled + label {
      filter: grayscale(40%) opacity(40%);
      background-iamge: url('/images/loop.svg');
    }

    input[type="checkbox"] {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

