:host(.component-loop) {
  div.loop {
    box-sizing: border-box;
    height: 100%;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

    label {
      box-sizing: border-box;
      grid-column: 1;
      grid-row: 1;

      width: 64px;
      height: 40px;

      background-color: var(--icon);

      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      mask-image: url('/images/loop.svg');

      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
    }

    input[type="checkbox"] {
      box-sizing: border-box;
      grid-column: 1;
      grid-row: 1;

      opacity: 0;
      width: 0;
      height: 0;
    }

    input[type="checkbox"][data-loops="1"]:checked + label {
       mask-image: url('/images/loop-1.svg');
    }

    input[type="checkbox"][data-loops="2"]:checked + label {
       mask-image: url('/images/loop-2.svg');
    }

    input[type="checkbox"][data-loops="3"]:checked + label {
       mask-image: url('/images/loop-3.svg');
    }

    input[type="checkbox"][data-loops="4"]:checked + label {
       mask-image: url('/images/loop-4.svg');
    }

    input[type="checkbox"][data-loops="5"]:checked + label {
       mask-image: url('/images/loop-5.svg');
    }

    input[type="checkbox"]:checked + label {
      background-color: var(--loop-enabled);
    }

    input[type="checkbox"]:disabled + label {
      background-color: var(--icon-disabled);
      mask-image: url('/images/loop.svg');
    }

    input[type="checkbox"] {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

