div.metronome {
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  column-gap: 24px;

  background: none;
  border: none;
  outline: none;

  button {
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;

    img {
      filter: invert(69%) sepia(59%) saturate(1%) hue-rotate(21deg) brightness(100%) contrast(91%);
      transition: opacity 0.125s ease-in-out, transform 0.2s ease-in-out;
    }
  }

  button:enabled {
    img {
      filter: none;
    }
  }

  #play {
    grid-column: 2;
    grid-row: 1;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    height: 100%;

    img {
      grid-row: 1;
      grid-column: 1;
      height: 100%;      
    }

    img.hidden {
      visibility: hidden;
    }

    img.play {
      opacity: 1;
      transform: scale(1.25);
    }

    img.stop {
      opacity: 0;
      transform: scale(0.75);
    }
  }

  #back {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;

    img {
      width: 48px;
    }
  }

  #next {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;

    img {
      width: 48px;
    }
  }

}

div.metronome.playing {
  #play {
    img.play {
      opacity: 0;
      transform: scale(0.75);
    }

    img.stop {
      visibility: visible;
      opacity: 1;
      transform: scale(1.0);
    }
  }
}

@-moz-document url-prefix() {
  div.metronome {
    #play {
      min-width: 64px;
    }
  }
}
