div.pads {
  box-sizing: border-box;
  background: transparent;
  border: none;

  width: 100%;
  height: 48px;

  margin-top: 12px;
  margin-left: 0px;
  margin-right: 0px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  justify-content: center;
  align-items: center;

  overflow: visible;

  yam-beat {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;

    max-width: 60px; 
    min-width: 12px;

    display: grid;
    justify-items: center;
    align-items: center;
  }

  yam-beat.diamond {
    max-width: 24px;   
  }

  yam-beat.small-block {
    max-width: 32px;   
  }
}
