:host(.component-playlist-tracks) {
  div.playlist-tracks {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2px;

    margin-top: 4px;
    margin-bottom: 4px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;

    border-radius: 12px;

    div.tracks {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      div.list {
        grid-column: 1;
        grid-row: 1;
      }
    }

    div.list {
      display: flex;
      flex-direction: column;
      justify-items: start;

      background: #fefefe40;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      ul {
        overflow: hidden;
        overflow-y: auto;

        margin-top: 8px;
        margin-bottom: 8px;

        padding-left: 8px;
        padding-right: 8px;

        list-style: none;

        li {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-template-rows: auto;
          column-gap: 0px;
          align-items: center;

          div.grip {
            grid-column: 1 / 3;
            grid-row: 1;
          }

          yam-playlist-item {
            grid-column: 1 / 3;
            grid-row: 1;
            flex-grow: 1;
          }
        }
      }

      div.footer {
        box-sizing: border-box;

        display: flex;
        justify-content: center;
      }

      #plus {
        width: 80%;
        margin-top: 8px;
        margin-bottom: 8px;

        border: 1px solid #222222;
        border-radius: 8px;

        img {
          width: 32px;
        }
      }
    }

    div.tracks.hidden {
      display: none;
    }

    div.grip {
      width: 28px;
      height: 100%;

      display: flex;
      align-items: center;

      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 4px;
      padding-right: 4px;

      z-index: 2;
      cursor: grab;

      img {
        width: 16px;      
      }
    }

    yam-playlist-item {
      margin-left: 32px;
      margin-top: 4px;
    }
  }

  @media (max-width: 768px) and (orientation:portrait) {
    div.playlist-tracks {  
      yam-playlist-item {
        margin-left: 40px;
      }
    }
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    div.playlist-tracks {  
      yam-playlist-item {
        margin-left: 36px;
      }
    }
  }
}
