div.playlist-track {
  width: 100%;
  margin-bottom: 6px;
  padding-top: 4px;
  padding-bottom: 4px;

  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 4px;

  color: var(--playlist-tracks-text);
  font-size: 0.9em;

  border-bottom: 1px solid #aaaaaa;

  #title {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  #menu {
    width: 40px;
    height: 100%;
    border: none;
    outline: none;

    background-color: var(--icon);
    mask-image: url('/images/menu.svg');
    mask-repeat: no-repeat;
    mask-position: right;
    mask-size: auto 16px;
  }

  [popover] {
    top: calc(anchor(bottom) + 12px);
    left: calc(anchor(left) + 24px);
    transform: translateX(-100%);

    background: #ffffff;
    margin: 0px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;

    width: fit-content;
    height: fit-content;
  }

  [popover]:popover-open {
    display: flex;
    flex-direction: row;
    column-gap: 8px;

     opacity: 1;
     transition: opacity 150ms ease-in;
  }

  [popover]:popover-open::backdrop {
     background-color: transparent;
  }

  @starting-style {
    [popover]:popover-open {
      opacity: 0;
    }
  }

  #actions {
    button {
      background: none;
      width: 32px;
      height: 100%;
      border: none;
      outline: none;
    }

    #trash {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;

      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 4px;
      padding-right: 4px;

      img {
        grid-column: 1;
        grid-row: 1;

        height: 100%;
        width: auto;
      }    
    }

    #mute {
      height: 28px;

      background-color: #222222;
      mask-image: url('/images/mute.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: auto 24px;
    }

    #statistics {
      height: 28px;

      background-color: #222222;
      mask-image: url('/images/statistics.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: auto 24px;
    }

    #wav {
      height: 28px;

      background-color: #222222;
      mask-image: url('/images/wav.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: auto 24px;
    }

    #filter {
      height: 28px;

      background-color: #222222;
      mask-image: url('/images/filter.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: auto 24px;

      display: none;
    }
  }

  #tags div {
    box-sizing: border-box;
    width: 80px; 

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    div.tag {
      display: grid;
      grid-template-columns: 16px auto;
      grid-template-rows: auto;
      column-gap: 4px;
      align-items: center;

      div.icon {
        grid-column: 1;
        grid-row: 1;

        width: 17px;
        height: 17px;

        background-color: black;
        mask-image: url('/images/tag-ignored.svg');
        mask-repeat: no-repeat;
        mask-position: center;

        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
      }

      span {
        grid-column: 2;
        grid-row: 1;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      font-size: 1em;
      font-style: normal;
      text-decoration: none;
    }

    .tag[data-state="ignore"] {
      color: #c0c0c0;
      font-style: italic;

      div.icon {
        background-color: #c0c0c0;
        mask-image: url('/images/tag-ignored.svg');
      }  
    }  

    .tag[data-state="include"] {
      color: #155724;
      font-weight: bold;

      div.icon {
        background-color: #00c000;
        mask-image: url('/images/tag-included.svg');
      }  
    }  

    .tag[data-state="exclude"]  {
      color: #ff0000;
      text-decoration: line-through;

      div.icon {
        background-color: #ff0000;
        mask-image: url('/images/tag-excluded.svg');
      }  
    }  
  }
}

// NTS: must come before :host(.selected) div.playlist-track
div.playlist-track.random {
  div#title {
    font-style: italic;
  }

  #actions {
    #statistics {
      display: none;
    }

    #wav {
      display: none;
    }

    #filter {
      display: block;
    }
  }
}

:host(.selected) div.playlist-track {
  div#title {
    font-style: normal;   // NTS for random tracks
    font-weight: bold;
  }
}

:host(.muted) div.playlist-track {
  #title {
    color: var(--track-colour-muted);
    font-style: italic;
  }

  #mute {
    mask-image: url('/images/unmute.svg');
  }
}

:host(.deleting) div.playlist-track {
  #title {
    color: var(--track-colour-deleting);
    font-style: italic;
    text-decoration: line-through;
  }

  img#trash {
    filter: invert(13%) sepia(88%) saturate(7445%) hue-rotate(0deg) brightness(103%) contrast(112%);
    transition: filter 0.5s ease;
  }
}
