:host(.component-playlists) {
  div.playlists {
    height: 100%;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;

    div.list {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    #plus {
      grid-column: 2;
      grid-row: 2;
    }

    div.list {
      margin-top: 4px;
      margin-bottom: 4px;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 12px;

      overflow: hidden;
      overflow-y: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar { 
        display: none;
      }

      ul {
        list-style: none;
        margin: 0px;
        padding: 0px;

        li {
          height: auto;
          margin-top: 2px;

          display: grid;
          grid-template-columns: auto 1fr;
          grid-template-rows: auto;
          align-items: center;
          column-gap: 0px;

          div.grip {
            grid-column: 1 / 3;
            grid-row: 1;
            align-self: start;

            background-color: var(--icon);
            mask-image: url('/images/grip.svg');
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: 16px 16px;
          }

          yam-playlist {
            grid-column: 1 / 3;
            grid-row: 1;
            flex-grow: 1;
          }
        }
      }
    }

    div.grip {
      box-sizing: border-box;
      width: 0px;
      height: 100%;

      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 8px;
      padding-right: 32px;

      background: transparent;
      pointer-events: auto;
      cursor: grab;
      z-index: 2;

      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      align-items: center;

      img {
        width: 16px;
      }
    }

    yam-playlist {
      display: block;
    }

    #plus {
      display: flex;
      justify-content: center;
      align-items: center;

      background: rgba(255, 255, 255, 0.1);   /* semi-transparent */
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(0.5px);

      margin: 8px;
      padding: 4px;
      border: none;
      border-radius: 50%;
      z-index: 2;

      img {
        width: 40px;
        filter: invert(24%) sepia(7%) saturate(6%) hue-rotate(314deg) brightness(97%) contrast(88%);
      }
    }
  }

  div.playlists.unsortable {
    div.grip {
      display: none;
    }
  }

  yam-playlist-tracks {
    display: none;
  }

  yam-add-tracks {
    display: none;
  }

  @media (max-width: 768px) and (orientation:portrait) {
    div.playlists {
      div.grip {
        width: 48px;
        padding-left: 16px;
      }
    }
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    div.playlists {
      div.grip {
        width: 48px;
        padding-left: 16px;
      }
    }
   
    div.playlists.unsortable {
      div.grip {
        width: 48px;
        padding-left: 16px;

        // display: grid;
      }
    }
  }
}