:host(.component-section-time-signature) {
  div.time-signature {
    position: relative;
    box-sizing: border-box;

    display: grid; 
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 100%;

    button {
      box-sizing: border-box;

      grid-row: 1;
      grid-column: 1;

      display: inline-block; 
      width: max-content;
      height: 100%;
      min-height: 0;

      background: none;
      border: none;
      outline: none;
      cursor: pointer;

      div {
        box-sizing: border-box;

        display: grid;
        grid-template-columns: auto auto 1fr;
        grid-template-rows: minmax(0, 1fr);

        height: 100%;

        img {
          box-sizing: border-box;
          height: 100%;
        }

        img.hidden {
          display: none;
        }

        // NB: MUST come after img.hidden for the default time signature logic
        img.placeholder {
          display: block;
        }

        img.stave {
          grid-column: 1 / 4;
          grid-row: 1;
        }

        img.clef {
          grid-column: 1;
          grid-row: 1;
        }

        img.tactus {
          grid-column: 2;
          grid-row: 1;
          justify-self: center;
        }

        img.figura {
          grid-column: 2;
          grid-row: 1;
          justify-self: center;
        }

        img.common {
          grid-column: 2;
          grid-row: 1;
          justify-self: center;
        }

        img.cut {
          grid-column: 2;
          grid-row: 1;
          justify-self: center;
        }
      }
    }

    button:disabled {
      img {
        filter: grayscale(100%) opacity(50%);
        cursor: auto;
      }
    }

    div#list {
      top: calc(anchor(bottom) + 8px);
      left: calc(anchor(left) + 12px);

      margin: 0px;
      padding: 0px;
      background: transparent;
      outline: none;
      border: none;

      div.content {
        background: white;

        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 4px;
        padding-right: 4px;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-items: start;
        row-gap: 8px;

        ul {
          grid-column: 1;
          grid-row: 1;

          list-style: none;
          margin: 0px;
          padding: 0px;

          width: 172px;
          height: fit-content;
          columns: 36px;
          column-gap: 8px;
          column-rule: dotted;
          column-rule-width: thin;

          li {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 4px;

            img {
              height: 32px;
            }
          }

          li[data-time-signature=""] {
            img {        
              filter: grayscale(100%) opacity(40%);   
            }
          }
        }

        div.custom {
          grid-column: 1;
          grid-row: 2;
          align-self: stretch;

          display: flex;
          flex-direction: column;
          align-items: stretch;
          row-gap: 4px;

          margin: 0px;
          padding-left: 4px;
          padding-right: 4px;

          input {
            background: #e0e0e0;

            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 8px;
            padding-right: 8px;

            border: none;
            border-radius: 4px;
            outline: none;
            font-size: 0.8em;
            text-align: center;

            &::-webkit-inner-spin-button {
             -webkit-appearance: none;
            }

            -moz-appearance:textfield;
          }

          input:invalid {
            color: red;
          }
        }
      }
    }
  }

  div.time-signature.none {
    button{
      img {
        filter: grayscale(100%) opacity(25%);
      }
    }
  }
 
  div.time-signature.disabled {
    button{
      img {
        filter: grayscale(100%) opacity(50%);
      }
    }
  }

//  @-moz-document url-prefix() {
//    img.tactus {
//      margin-left: 8px;
//    }
//    
//    img.figura {
//      margin-left: 8px;
//    }
//  }

}
