:host(.component-section) {
  div.section {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 1px;

    div.summary {
      background: #ffffff;
      width: 100%;

      display: grid;
      grid-template-columns: auto 1fr auto auto;
      grid-template-rows: auto auto;
      column-gap: 3px;    
    }

    div.metricals {
      background: #fcfcfc;
      width: 100%;

      display: grid;
      grid-template-columns: auto auto 1fr;
      grid-template-rows: auto;
      column-gap: 8px;    
    }

    #name {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    #role {
      grid-column: 3;
      grid-row: 1;
    }

    #measures {
      grid-column: 4;
      grid-row: 1;
    }

    yam-time-signature {
      grid-column: 1;
      grid-row: 1;
    }

    yam-mm {
      grid-column: 2;
      grid-row: 1
    }

    input {
      box-sizing: border-box;

      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 6px;
      padding-right: 6px;

      font-size: 0.9em;
      text-overflow: ellipsis;

      border: none;
      outline: none;
    }

    input:invalid {
      color: red;
    }

    input::placeholder {
      font-style: italic;
      color: #a0a0a0;
    }

    input[readonly] {
      color: gray;
      font-style: italic;
      font-weight: normal;
    }

    input[readonly]:invalid {
      color: red;
    }

    input[type="number"] {
      text-align: center;
      font-style: normal;

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      -moz-appearance:textfield;
    }


    #role {
      width: 6em;
      color: gray;

      text-align: left;
      font-style: italic;
      font-weight: normal;
    }

    #measures {
      width: 3em;
      font-family: "YAM-small", "Lato", sans;
    }

    yam-time-signature {
      height: 32px;
    }

    yam-mm {
      height: 32px;
    }
  }

  div.section.collapsed {
    row-gap: 0px;

    div.metricals {
      display: none;
    }
  }
}

