:host(.component-section) {
  div.section {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    div.summary {
      background: #ffffff;
      width: 100%;

      display: grid;
      grid-template-columns: auto auto 1fr auto auto;
      grid-template-rows: auto auto;
      column-gap: 3px;    
      align-items: center;
    }

    div.subsections {
      background: none;
      width: 100%;

      display: flex;
      flex-direction: column;
      row-gap: 1px;
    }

    #arrow {
      grid-column: 1;
      grid-row: 1;    

      transform: rotate(90deg);
    }

    #name {
      grid-column: 2 / 3;
      grid-row: 1;
    }

    #role {
      grid-column: 4;
      grid-row: 1;
    }

    #measures {
      grid-column: 5;
      grid-row: 1;
    }

    yam-subsection {
    }

    #arrow {
      width: 16px;
    }

    input {
      box-sizing: border-box;

      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 6px;
      padding-right: 6px;

      font-size: 0.9em;
      text-overflow: ellipsis;

      border: none;
      outline: none;
    }

    input:invalid {
      color: red;
    }

    input::placeholder {
      font-style: italic;
      color: #a0a0a0;
    }

    input[readonly] {
      color: gray;
      font-style: italic;
      font-weight: 300;
    }

    input[readonly]:invalid {
      color: red;
    }

    input[type="number"] {
      text-align: center;

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      -moz-appearance:textfield;
    }

    #role {
      width: 8em;
      color: gray;

      text-align: left;
      font-style: italic;
      font-weight: normal;
    }

    #measures {
      width: 3em;
      font-family: "YAM", "Lato", sans;
      visibility: hidden;
    }
  }

  div.section.collapsed {
    row-gap: 0px;

    div.subsections {
      display: none;
    }

    #arrow {
      transform: rotate(0deg);
    }

    #measures {
      visibility: visible;
    }
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  :host(.component-section) {
    div.section {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      column-gap: 1px;
   }
  }
}