:host(.component-subsection) {
  div.subsection {
    background: var(--editor-subsection-background);
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto;
    column-gap: 8px;    

    yam-time-signature {
      grid-column: 1;
      grid-row: 1;
    }

    yam-mm {
      grid-column: 2;
      grid-row: 1
    }

    #measures {
      grid-column: 4;
      grid-row: 1    
    }

    yam-time-signature {
      height: 32px;
    }

    yam-mm {
      height: 32px;
    }

    input {
      box-sizing: border-box;

      background: var(--editor-subsection-background);

      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 6px;
      padding-right: 6px;

      font-size: 0.9em;
      text-overflow: ellipsis;

      border: none;
      outline: none;
    }

    input:invalid {
      color: red;
    }

    input::placeholder {
      font-style: italic;
      color: var(--text-placeholder);
    }

    input[readonly] {
      color: var(--text-muted);
      font-style: italic;
      font-weight: normal;
    }

    input[readonly]:invalid {
      color: red;
    }

    input[type="number"] {
      text-align: center;
      font-style: normal;

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      -moz-appearance:textfield;
    }

    #measures {
      width: 3em;
      font-family: "YAM", "Lato", sans;
    }
  }
}

