:host(.component-tracklist) {
  div.playlist-tracks {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;

    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    row-gap: 2px;

    div.list {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    #plus {
      grid-column: 2;
      grid-row: 2;  
    }

    #save {
      grid-column: 2;
      grid-row: 2;
    }

    yam-add-tracks {
      grid-column: 1 / 3;
      grid-row: 1 / 3;    
    }

    div.list {
      display: flex;
      flex-direction: column;
      justify-items: start;

      background: #fefefe40;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      ul {
        overflow: hidden;
        overflow-y: auto;

        margin-top: 8px;
        margin-bottom: 8px;

        padding-left: 8px;
        padding-right: 8px;

        list-style: none;

        li {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-template-rows: auto;
          column-gap: 0px;
          align-items: center;

          div.grip {
            grid-column: 1 / 3;
            grid-row: 1;
          }

          yam-playlist-item {
            grid-column: 1 / 3;
            grid-row: 1;
            flex-grow: 1;
          }
        }
      }
    }

    yam-playlist-item {
      margin-left: 32px;
      margin-top: 4px;
    }

    yam-add-tracks {
      display: none;
    }

    #plus {
      display: flex;
      justify-content: center;
      align-items: center;

      background: rgba(255, 255, 255, 0.1);   /* semi-transparent */
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(0.5px);

      margin: 8px;
      padding: 4px;
      border: none;
      border-radius: 50%;
      z-index: 2;

      img {
        width: 40px;
        filter: invert(24%) sepia(7%) saturate(6%) hue-rotate(314deg) brightness(97%) contrast(88%);
      }
    }

    #save {
      display: none;
      justify-content: center;
      align-items: center;

      background: rgba(255, 255, 255, 0.1);   /* semi-transparent */
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(0.5px);

      margin: 8px;
      padding: 4px;
      border: none;
      border-radius: 50%;
      z-index: 2;

      img {
        width: 40px;
        // filter: invert(24%) sepia(7%) saturate(6%) hue-rotate(314deg) brightness(97%) contrast(88%);
      }
    }
  }

  div.playlist-tracks.adding {
    div.list {
      display: none;
    }

    yam-add-tracks {
      display: block;
    }

    #plus {
      display: none;
    }

    #save {
      display: flex;
    }
  }

  @media (max-width: 768px) and (orientation:portrait) {
    div.playlist-tracks {  
      yam-playlist-item {
        margin-left: 40px;
      }
    }
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    div.playlist-tracks {  
      yam-playlist-item {
        margin-left: 36px;
      }
    }
  }
}
