main.about {
  box-sizing: border-box;
  height: 100%;

  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 64px;
  margin-right: 64px;

  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  color: var(--text);

  div.logo {
    width: 64px;
    height: 64px;

    background-color: transparent;
    background-image: var(--logo);
    background-size: contain;
  }

  h1 {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 1.5em; 

    img {
      width: 64px;
    }
  }

  h2 {
     font-size: 1em;
     margin-top: 16px;
     margin-bottom: 8px;
  }

  span.icon {
    box-sizing: border-box;

    width: 44px;
    background-color: var(--icon);

    aspect-ratio: 1;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
  }

  span.icon-metronome {
      mask-image: url('/images/metronome.svg');
      mask-size: 32px;
  }

  span.icon-playlist {
      mask-image: url('/images/playlist.svg');
      mask-size: 32px;
  }

  span.icon-edit {
      mask-image: url('/images/edit.svg');
      mask-size: 32px;
  }

  span.icon-record {
      mask-image: url('/images/record.svg');
      mask-size: 32px;
  }

  span.icon-import {
      mask-image: url('/images/import.svg');
      mask-size: 32px;
  }

  span.icon-export {
      mask-image: url('/images/export.svg');
      mask-size: 32px;
  }

  span.icon-reset {
      mask-image: url('/images/reset.svg');
      mask-size: 32px;
  }

  span.icon-fullscreen {
      mask-image: url('/images/fullscreen.svg');
      mask-size: 32px;
  }

  span.icon-wakelock {
      mask-image: url('/images/wakelock.svg');
      mask-size: 32px;
  }

  span.icon-github {
      width: 44px;

      mask-image: url('/images/github-mark.svg');
      mask-size: 36px;
  }

  img {
    user-select: none;
    -webkit-user-select: none;
  }

  a {
    font-size: 0.9em;
    text-decoration: none;
    color: steelblue;
  }

  a.github {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60px 1fr;
    align-items: center;
  }

  p {
    max-width: 60%;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 0.9em;
  }

  p.license {
    margin-top: 4px;
    font-size: 0.8em;
  }

  ol {
    margin-top: 0px;
  }

  div.guide {
    display: block;
  }

  ul.menu {
    list-style-type: none;
  }

  ul.menu img {
    height: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
  }

  ul.menu li {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60px 1fr;
    align-items: center;
  }
}


@media (max-width: 768px) and (orientation:portrait) {
  main.about {
    height: calc(100% - 48px);
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 24px;

    h1 {
      font-size: 1.2em; 
    }

    ul {
      padding-left: 12px;
      padding-right: 24px;
    }

    p {
      max-width: 100%;
    }
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  main.about {
    width: calc(100% - 48px);
    height: calc(100% - 48px);

    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 24px;
    margin-right: 24px;

    overflow-y: scroll;

    div.guide {
      display: flex;
      flow-direction: column;
    }
  }
}
