main {
  box-sizing: border-box;
  background: inherit;
  width: fit-content;
  height: 693px;
  min-width: 0; 
  margin: 0;

  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  border: none;
  overflow-y: hidden; 
  overflow-x: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 660px;
  grid-template-areas: "metronome playlist editor";
  column-gap: 8px;
  align-items: stretch;
}

div.panel {
  width: 353px;

  background: var(--panel-background);
  border: var(--panel-border);  
  border-radius: 16px;
}

div.metronome {
  grid-area: metronome;
}

div.playlists {
  grid-area: playlist;
  display: block;
  
  overflow-y: auto;
  min-height: 0;
}

div.editor {
  grid-area: editor;
  display: block;

  overflow-y: auto;
  min-height: 0;
    
  yam-editor {
    padding: 0;  
  }
}

@media (max-width: 768px) and (orientation:portrait) {
  main {
    width: 100%;
    padding: 0px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0px;
  }

  div.panel {
    width: 100dvw;

    border: none;  
    border-radius: 0px;
  }

  div.metronome {
    grid-column: 1;
    grid-row: 1;
  }

  div.metronome.hidden {
    display: none;
  }

  div.playlists {
    grid-column: 1;
    grid-row: 1;
  }

  div.playlists.hidden {
    display: none;
  }

  div.editor {
    grid-column: 1;
    grid-row: 1;
  }

  div.editor.hidden {
    display: none;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  main {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0px;
  }

  div.panel {
    box-sizing: border-box;

    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 8px;

    border: none;  
    border-radius: 0px;
  }

  div.metronome {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: start;

    width: fit-content;
    height: 100%;
  }

  div.metronome.hidden {
    display: none;
  }

  div.playlists {
    grid-column: 1;
    grid-row: 1;
  }

  div.playlists.hidden {
    display: none;
  }

  div.editor {
    grid-column: 1;
    grid-row: 1;
  }

  div.editor.hidden {
    display: none;
  }
}
