@use '../palettes/default' as colours;
@use 'sass:color';

$white: colours.$white;
$black: colours.$black;
$grey: colours.$grey;

[data-theme="dark"] {
  --background: #{$black};

  --metronome-button-disabled: #50638F;
  --metronome-button-enabled: #0099FF;

  --toolbar-button-disabled: #ffffff76;
  --toolbar-button-enabled: #92b2e5c0;

  --track-colour-muted: #{$grey};
  --track-colour-deleting: #{$grey};
  --playlist-colour-deleting: #{$grey};
}