@use '../palettes/default' as colours;
@use 'sass:color';

$white: colours.$white;
$black: colours.$black;
$grey: colours.$grey;

$warm-beige: #f5e8d8;
$light-gray: #e4e4e4;
$rusty-blue: #5b8fb9;
$muted-cyan-slate: #4f7c82;

$deep-eucalyptus: #b8c3c7;

[data-theme="dark"] {
  --background: #{$black};
  --panel-border: 1px solid #{$rusty-blue};

  --metronome-button-disabled: #50638F;
  --metronome-button-enabled: #0099FF;

  --toolbar-button-disabled: #ffffff76;
  --toolbar-button-enabled: #{$deep-eucalyptus};
  --toolbar-button-active: #b24a2c;
  --toolbar-button-hover: #d00000;

  --track-colour-muted: #{$grey};
  --track-colour-deleting: #{$grey};
  --playlist-colour-deleting: #{$grey};

  --beat-off: #{color.change($deep-eucalyptus, $alpha: 0.45)};
  --beat-on: #{color.change(red, $alpha: 0.9)};

  --info-title-text: #{$deep-eucalyptus};
  --info-detail-text: #{$deep-eucalyptus};

  --knob-background-opacity: 0%;
  --knob-ticks:  #{$deep-eucalyptus};
  --knob-labels:  #{rgba($deep-eucalyptus, 0.7)};

  --loop-enabled: #c63800;
  --ding-enabled: #c63800;

  --text: #{$deep-eucalyptus};
  --text-locked: #dc322f;

  --icon: #{$deep-eucalyptus};
  --icon-disabled: #ffffff76;
  --icon-locked: #dc322f;
}