@use '../palettes/default' as colours;
@use 'sass:color';

$white: colours.$white;
$black: colours.$black;
$grey: colours.$grey;

:root {
  --background: #{$white} url("../images/textures/ricepaper_v3.png");

  --metronome-button-disabled: #c0c0c0;
  --metronome-button-enabled: #222222;

  --toolbar-button-disabled: #ffffff76;
  --toolbar-button-enabled: #222222;

  --track-colour-muted: #{$grey};
  --track-colour-deleting: #{$grey};
  --playlist-colour-deleting: #{$grey};

  --loop-enabled: #c63800;
  --ding-enabled: #c63800;

  --text: #{$black};
  --icon: #{$black};
  --icon-disabled: #999999;
}
