@use '../palettes/default' as colours;
@use 'sass:color';

$white: colours.$white;
$black: colours.$black;
$grey: colours.$grey;

:root {
  --background: #{$white} url("../images/textures/ricepaper_v3.png");
  --panel-border: 1px solid red;

  --metronome-button-disabled: #c0c0c0;
  --metronome-button-enabled: #222222;

  --toolbar-button-disabled: #ffffff76;
  --toolbar-button-enabled: #222222;
  --toolbar-button-active: #b24a2c;
  --toolbar-button-hover: #c00000;

  --track-colour-muted: #{$grey};
  --track-colour-deleting: #{$grey};
  --playlist-colour-deleting: #{$grey};

  --beat-off: black;
  --beat-on: red;

  --info-title-text: #222222;
  --info-detail-text: #222222;

  --time-signature-none: #bfbfbf;
  --loop-enabled: #c63800;
  --ding-enabled: #c63800;

  --knob-background-opacity: 40%;
  --knob-ticks: #222222;
  --knob-labels: #222222;

  --text: #{$black};
  --text-locked: #dc322f;

  --icon: #{$black};
  --icon-disabled: #999999;
  --icon-locked: #dc322f;
}
