@use '../palettes/default' as colours;
@use 'sass:color';

$white: colours.$white;
$black: colours.$black;
$grey: colours.$grey;

[data-theme="light"] {
  --background: #{$white} url("../images/textures/ricepaper_v3.png");

  --track-colour-muted: #{$grey};
  --track-colour-deleting: #{$grey};
  --playlist-colour-deleting: #{$grey};
}
